<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Rental Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cadastroMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastro
          </a>
          <div class="dropdown-menu" aria-labelledby="cadastroMenuDropDown">
            <a class="dropdown-item" href="/cadastroPessoa">Locador / Locatário</a>
            <a class="dropdown-item" href="/cadastroImovel">Imóvel</a>
            <a class="dropdown-item" href="/cadastroContrato">Contrato</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="consultaMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Consulta
          </a>
          <div class="dropdown-menu" aria-labelledby="consultaMenuDropDown">
            <a class="dropdown-item" href="#">Locador</a>
            <a class="dropdown-item" href="#">Locatário</a>
            <a class="dropdown-item" href="#">Imóvel</a>
            <a class="dropdown-item" href="#">Contrato</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>