* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}
.bootstrap-form form {
    max-width: 400px;
    margin: auto;
    padding: 0;
  }
  .bootstrap-form .form-group input,
  .bootstrap-form .form-group label,
  .bootstrap-form .form-group textarea {
    margin: 10px 0;
  }